{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h2>Admin - nadzorna plošča</h2>
<br />
<div class="admin">
    <a href="{{ path('_admin_products') }}"><h4>Urejanje izdelkov</h4></a><br />
    <a href="{{ path('_admin_categorys') }}"><h4>Urejanje kategorij</h4></a><br />
    <a href="{{ path('_admin_images') }}"><h4>Urejanje Galerije</h4></a><br />
    <a href="{{ path('_admin_ads') }}"><h4>Urejanje Oglasev</h4></a><br />
    <a href="{{ path('_admin_news') }}"><h4>Urejanje Novic</h4></a>
</div>

{% endblock %}
