{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Galerija{% endblock %}

{% block content %}

<h1 style="text-shadow: none;">Galerija</h1>

<div class="gallery-container">

    {% for image in images %}
            <div class="img-container">
                <a href="{{ asset('galery/')}}{{image.path }}" rel="lightbox[gallery]">
                    <img src="{{ asset('galery/')}}{{image.path }}" alt="image" />
                    <div class="img-info">
                        <h4>{{ image.description|length > 50 ? image.description|slice(0, 50) ~ '...' : image.description }}</h4>
                    </div>
                </a>
            </div>
    {% endfor %}

</div>

{% endblock %}
