{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Artikli{% endblock %}

{% block content %}

<h2>Artikli</h2>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Ime izdelka</th>
      <th>Cena</th>
      <th>Opis</th>
      <th>Datum vnosa</th>
      <th>Slika</th>
      <th>Kategorija</th>
      <th>Podkategorija</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description }}</td>
      <td>{{ product.created|date('d.m.Y H:i:s') }}</td>
      <td><img src="{{ asset('products/')}}{{product.path }}" alt="slika" width="50"/></td>
      <td>{{product.category}}</td>
      <td>{{product.subcategory}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
