{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}{{ products.0.category }}{% endblock %}

{% block content %}
<div class="header-img">
    
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Ptice - slogan</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img2.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hrčki - slogan</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img3.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Glodalci - slogan</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img4.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Ribe - slogan</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img5.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Psi - slogan</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/damainpotepuhstatic/images/products-img6.jpg') }}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mačke - slogan</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
 
</div>

<div class="menu">
    <h2>{{ products.0.category }}</h2>
    {{ render(controller('damainpotepuhStaticBundle:Product:Menu', { 'id': products.0.category })) }}
</div>

<div class="products">
{% for product in products %}
    <div class="product">
        <h2>{{ product.name }}</h2>
        <p class="product_link">
            <a href="{{ path('_single_product', ({'id': product.id}) ) }}" >Več...&raquo;</a>
        </p>
        <p class="price-info" style="margin-left: 0px;"><span style="padding-right: 20px;">{{ product.price }} €</span></p>
        <img src="{{ asset('products/')}}{{product.path }}" alt="slika"/>
        
    </div>
    {% endfor %}
</div>

{% endblock %}
