{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}{{ products.0.category }}{% endblock %}

{% block content %}
<div class="header-img">
    <img src="{{ asset('bundles/damainpotepuhstatic/images/Slides/cat-header.jpg') }}" alt="images"/>
</div>

<div class="menu">
    <h2>{{ products.0.category }}</h2>
    {{ render(controller('damainpotepuhStaticBundle:Product:Menu', { 'id': products.0.category })) }}
</div>

<div class="products">
{% for product in products %}
    <div class="product">
        <h2>{{ product.name }}</h2>
        <p class="product_link">
            <a href="{{ path('_single_product', ({'id': product.id}) ) }}" >Več...&raquo;</a>
        </p>
        <p class="price-info" style="margin-left: 0px;"><span style="padding-right: 20px;">{{ product.price }} €</span></p>
        <img src="{{ asset('products/')}}{{product.path }}" alt="slika"/>
        
    </div>
    {% endfor %}
</div>

{% endblock %}
