{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Zmenkarije{% endblock %}

{% block content %}

<h1>Zmenkarije, oglasi</h1>

<a class="addbutton" href="{{ path('_add_ad') }}">Dodaj oglas</a>

    {% for ad in ads %}
        <div class="ad">
            <div class="ad-text">
                <h4>Ime: </h4>{{ad.name}}
                <h4>Telefon: </h4>{{ad.telephone}}
                <h4>Email: </h4>{{ad.email}}
                <span class="description">
                    <h4>Oglas: </h4>{{ ad.text|length > 50 ? ad.text|slice(0, 50) ~ '...' : ad.text }}
                </span>
            </div>
            <a href="{{ asset('ads/')}}{{ad.path }}" rel="lightbox" alt="slika">
                <img src="{{ asset('ads/')}}{{ad.path }}" alt="slika" />
            </a>
        </div>
    {% endfor %}

{% endblock %}
