{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Slike{% endblock %}

{% block content %}
<h2>Slike</h2>
<a class="btn btn-small pull-right" href="{{ path('_admin_add_image') }}"><i class="icon-plus"></i> Dodaj Sliko</a>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>opis</th>
      <th>datum vnosa</th>
      <th>Slika</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
    <tr>
      <td><a href="{{ path('_admin_images', {'id': image.id}) }}">{{ image.id }}</a></td>
      <td>{{ image.description|length > 50 ? image.description|slice(0, 50) ~ '...' : image.description }}</td>
      <td>{{ image.created|date('d.m.Y H:i:s') }}</td>
      <td><img src="{{ asset('galery/')}}{{image.path }}" alt="slika" width="50"/></td>
      <td><a href="{{ path('_admin_edit_image', {'id': image.id}) }}" title="Uredi Sliko">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_image', {'id': image.id } ) }}" class="confirmation" title="Odstrani sliko" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
